nav ul a,
nav .brand-logo {
  color: #42A5F5;
}

.article-text ul{
  padding-left:26px;
  margn-left:4px;
}

.darken-blue{
  color: #233036 !important;
}

.bg-darken-blue{
  background-color: #233036 !important;
}

.article-text ul li{
  list-style-type: disc;
}

.article-header{
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  padding: 20px;
}

h1.article-title{
  font-size: 38px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #2D6281;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.skill-box{
  background-color: #375766;
  height: 160px;
  width: 160px;
  align-content: center;
}

.skill-name{
  background-color: #FC5857;
  border-radius: 50%;
  height: 128px;
  width: 128px;
  color: white;
  font-size: 24px;
}

footer.page-footer .footer-copyright {
  background-color: rgb(24, 34, 39);
}

@media only screen and (max-width : 992px) {
  h1.header{
    font-size: 38px;
  }
  h1.article-title{
    font-size: 32px;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .article-header{
    font-size: 20px;
    font-weight: 300;
    padding: 18px;
  }
}

@media only screen and (max-width : 600px) {
  h1.header{
    font-size: 32px;
  }
  #index-banner .section {
    top: 0;
  }

  h1.article-title{
    font-size: 24px;
  }
  .article-header{
    font-size: 18px;
    font-weight: 300;
    padding: 16px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.page-desc{
  text-shadow: 1px 2px 0 #000;
}

.darken-5{
  background-color: #000;
}
.opacity-8{
  opacity: 0.75;
}

.big_figure{
  margin:0;
}

